In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("/content/egphotelbookings.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/content/egphotelbookings.csv'

#Data Cleaning

In [ ]:
valid_hotels = ['Renaissance Hotel', 'JW Marriott Hotel']

df = df[df['hotel'].isin(valid_hotels)]

df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,0,Renaissance Hotel,0,342,2018,July,27,1,0,0,...,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0
1,1,Renaissance Hotel,0,737,2018,July,27,1,0,0,...,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0
2,2,Renaissance Hotel,0,7,2018,July,27,1,0,1,...,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0
3,3,Renaissance Hotel,0,13,2018,July,27,1,0,1,...,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0
4,4,Renaissance Hotel,0,14,2018,July,27,1,0,2,...,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1

In [ ]:
numeric_columns = df.select_dtypes(include='number').columns
df[numeric_columns] = df[numeric_columns].fillna(0)

In [ ]:
df['lead_time'] = df['lead_time'].astype(int)
df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,0,Renaissance Hotel,0,342,2018,July,27,1,0,0,...,C,3,No Deposit,0.0,0.0,0,Transient,0.0,0,0
1,1,Renaissance Hotel,0,737,2018,July,27,1,0,0,...,C,4,No Deposit,0.0,0.0,0,Transient,0.0,0,0
2,2,Renaissance Hotel,0,7,2018,July,27,1,0,1,...,C,0,No Deposit,0.0,0.0,0,Transient,75.0,0,0
3,3,Renaissance Hotel,0,13,2018,July,27,1,0,1,...,A,0,No Deposit,304.0,0.0,0,Transient,75.0,0,0
4,4,Renaissance Hotel,0,14,2018,July,27,1,0,2,...,A,0,No Deposit,240.0,0.0,0,Transient,98.0,0,1

In [ ]:
df['adr'] = df['adr'].astype(int)
df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,0,Renaissance Hotel,0,342,2018,July,27,1,0,0,...,C,3,No Deposit,0.0,0.0,0,Transient,0,0,0
1,1,Renaissance Hotel,0,737,2018,July,27,1,0,0,...,C,4,No Deposit,0.0,0.0,0,Transient,0,0,0
2,2,Renaissance Hotel,0,7,2018,July,27,1,0,1,...,C,0,No Deposit,0.0,0.0,0,Transient,75,0,0
3,3,Renaissance Hotel,0,13,2018,July,27,1,0,1,...,A,0,No Deposit,304.0,0.0,0,Transient,75,0,0
4,4,Renaissance Hotel,0,14,2018,July,27,1,0,2,...,A,0,No Deposit,240.0,0.0,0,Transient,98,0,1

In [ ]:
df.drop('arrival_date_week_number', axis=1, inplace=True)
df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,0,Renaissance Hotel,0,342,2018,July,1,0,0,2,...,C,3,No Deposit,0.0,0.0,0,Transient,0,0,0
1,1,Renaissance Hotel,0,737,2018,July,1,0,0,2,...,C,4,No Deposit,0.0,0.0,0,Transient,0,0,0
2,2,Renaissance Hotel,0,7,2018,July,1,0,1,1,...,C,0,No Deposit,0.0,0.0,0,Transient,75,0,0
3,3,Renaissance Hotel,0,13,2018,July,1,0,1,1,...,A,0,No Deposit,304.0,0.0,0,Transient,75,0,0
4,4,Renaissance Hotel,0,14,2018,July,1,0,2,2,...,A,0,No Deposit,240.0,0.0,0,Transient,98,0,1

In [ ]:
df.drop('company', axis=1, inplace=True)
df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,0,Renaissance Hotel,0,342,2018,July,1,0,0,2,...,C,C,3,No Deposit,0.0,0,Transient,0,0,0
1,1,Renaissance Hotel,0,737,2018,July,1,0,0,2,...,C,C,4,No Deposit,0.0,0,Transient,0,0,0
2,2,Renaissance Hotel,0,7,2018,July,1,0,1,1,...,A,C,0,No Deposit,0.0,0,Transient,75,0,0
3,3,Renaissance Hotel,0,13,2018,July,1,0,1,1,...,A,A,0,No Deposit,304.0,0,Transient,75,0,0
4,4,Renaissance Hotel,0,14,2018,July,1,0,2,2,...,A,A,0,No Deposit,240.0,0,Transient,98,0,1

In [ ]:
df['is_canceled'].fillna(0, inplace=True)
df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,0,Renaissance Hotel,0,342,2018,July,1,0,0,2,...,C,C,3,No Deposit,0.0,0,Transient,0,0,0
1,1,Renaissance Hotel,0,737,2018,July,1,0,0,2,...,C,C,4,No Deposit,0.0,0,Transient,0,0,0
2,2,Renaissance Hotel,0,7,2018,July,1,0,1,1,...,A,C,0,No Deposit,0.0,0,Transient,75,0,0
3,3,Renaissance Hotel,0,13,2018,July,1,0,1,1,...,A,A,0,No Deposit,304.0,0,Transient,75,0,0
4,4,Renaissance Hotel,0,14,2018,July,1,0,2,2,...,A,A,0,No Deposit,240.0,0,Transient,98,0,1

In [ ]:
df['country'].fillna('Unknown', inplace=True)  
df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,0,Renaissance Hotel,0,342,2018,July,1,0,0,2,...,C,C,3,No Deposit,0.0,0,Transient,0,0,0
1,1,Renaissance Hotel,0,737,2018,July,1,0,0,2,...,C,C,4,No Deposit,0.0,0,Transient,0,0,0
2,2,Renaissance Hotel,0,7,2018,July,1,0,1,1,...,A,C,0,No Deposit,0.0,0,Transient,75,0,0
3,3,Renaissance Hotel,0,13,2018,July,1,0,1,1,...,A,A,0,No Deposit,304.0,0,Transient,75,0,0
4,4,Renaissance Hotel,0,14,2018,July,1,0,2,2,...,A,A,0,No Deposit,240.0,0,Transient,98,0,1

In [ ]:
df['guests'] = df['adults'] + df['children'] + df['babies']

# df.drop(['adults', 'children', 'babies'], axis=1, inplace=True)

df['guests'] = df['guests'].astype(int)

df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,guests
0,0,Renaissance Hotel,0,342,2018,July,1,0,0,2,...,C,3,No Deposit,0.0,0,Transient,0,0,0,2
1,1,Renaissance Hotel,0,737,2018,July,1,0,0,2,...,C,4,No Deposit,0.0,0,Transient,0,0,0,2
2,2,Renaissance Hotel,0,7,2018,July,1,0,1,1,...,C,0,No Deposit,0.0,0,Transient,75,0,0,1
3,3,Renaissance Hotel,0,13,2018,July,1,0,1,1,...,A,0,No Deposit,304.0,0,Transient,75,0,0,1
4,4,Renaissance Hotel,0,14,2018,July,1,0,2,2,...,A,0,No Deposit,240.0,0,Transient,98,0,1,2

In [ ]:
#df=df[(df['adults'] <= 4) & (df['babies'] <= 4) & (df['children'] <= 4)]

In [ ]:
df['total_nights_stayed'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']
df.drop(['stays_in_weekend_nights', 'stays_in_week_nights'], axis=1, inplace=True)

df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,adults,children,babies,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,guests,total_nights_stayed
0,0,Renaissance Hotel,0,342,2018,July,1,2,0.0,0,...,3,No Deposit,0.0,0,Transient,0,0,0,2,0
1,1,Renaissance Hotel,0,737,2018,July,1,2,0.0,0,...,4,No Deposit,0.0,0,Transient,0,0,0,2,0
2,2,Renaissance Hotel,0,7,2018,July,1,1,0.0,0,...,0,No Deposit,0.0,0,Transient,75,0,0,1,1
3,3,Renaissance Hotel,0,13,2018,July,1,1,0.0,0,...,0,No Deposit,304.0,0,Transient,75,0,0,1,1
4,4,Renaissance Hotel,0,14,2018,July,1,2,0.0,0,...,0,No Deposit,240.0,0,Transient,98,0,1,2,2

In [ ]:
outlier_cols = ['lead_time', 'adr']
for col in outlier_cols:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    df[col] = df[col].apply(lambda x: lower_bound if x < lower_bound else upper_bound if x > upper_bound else x)

In [ ]:
df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,adults,children,babies,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,guests,total_nights_stayed
0,0,Renaissance Hotel,0,342.0,2018,July,1,2,0.0,0,...,3,No Deposit,0.0,0,Transient,0.0,0,0,2,0
1,1,Renaissance Hotel,0,373.0,2018,July,1,2,0.0,0,...,4,No Deposit,0.0,0,Transient,0.0,0,0,2,0
2,2,Renaissance Hotel,0,7.0,2018,July,1,1,0.0,0,...,0,No Deposit,0.0,0,Transient,75.0,0,0,1,1
3,3,Renaissance Hotel,0,13.0,2018,July,1,1,0.0,0,...,0,No Deposit,304.0,0,Transient,75.0,0,0,1,1
4,4,Renaissance Hotel,0,14.0,2018,July,1,2,0.0,0,...,0,No Deposit,240.0,0,Transient,98.0,0,1,2,2

In [ ]:
#df['is_repeated_guest'] = df['is_repeated_guest'].replace({0: 'no', 1: 'yes'})

In [ ]:
#df['previous_cancellations'] = df['previous_cancellations'].replace({0: 'no', 1: 'yes'})

In [ ]:
#df['previous_bookings_not_canceled'] = df['previous_bookings_not_canceled'].replace({0: 'no', 1: 'yes'})

In [ ]:
#df['required_car_parking_spaces'] = df['required_car_parking_spaces'].replace({0: 'no', 1: 'yes'})

In [ ]:
month_mapping = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}

df['arrival_date_month'] = df['arrival_date_month'].map(month_mapping)

df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,adults,children,babies,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,guests,total_nights_stayed
0,0,Renaissance Hotel,0,342.0,2018,7,1,2,0.0,0,...,3,No Deposit,0.0,0,Transient,0.0,0,0,2,0
1,1,Renaissance Hotel,0,373.0,2018,7,1,2,0.0,0,...,4,No Deposit,0.0,0,Transient,0.0,0,0,2,0
2,2,Renaissance Hotel,0,7.0,2018,7,1,1,0.0,0,...,0,No Deposit,0.0,0,Transient,75.0,0,0,1,1
3,3,Renaissance Hotel,0,13.0,2018,7,1,1,0.0,0,...,0,No Deposit,304.0,0,Transient,75.0,0,0,1,1
4,4,Renaissance Hotel,0,14.0,2018,7,1,2,0.0,0,...,0,No Deposit,240.0,0,Transient,98.0,0,1,2,2

In [ ]:
df['meal'] = df['meal'].replace('Undefined', 'SC')

df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,adults,children,babies,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,guests,total_nights_stayed
0,0,Renaissance Hotel,0,342.0,2018,7,1,2,0.0,0,...,3,No Deposit,0.0,0,Transient,0.0,0,0,2,0
1,1,Renaissance Hotel,0,373.0,2018,7,1,2,0.0,0,...,4,No Deposit,0.0,0,Transient,0.0,0,0,2,0
2,2,Renaissance Hotel,0,7.0,2018,7,1,1,0.0,0,...,0,No Deposit,0.0,0,Transient,75.0,0,0,1,1
3,3,Renaissance Hotel,0,13.0,2018,7,1,1,0.0,0,...,0,No Deposit,304.0,0,Transient,75.0,0,0,1,1
4,4,Renaissance Hotel,0,14.0,2018,7,1,2,0.0,0,...,0,No Deposit,240.0,0,Transient,98.0,0,1,2,2

In [ ]:
deposit_types = df['deposit_type'].unique()
print(deposit_types)

['No Deposit' 'Refundable' 'Non Refund']

In [ ]:
df = df[(df['deposit_type'] == 'No Deposit') | (df['deposit_type'] == 'Refundable') | (df['deposit_type'] == 'Non Refund')]
df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,adults,children,babies,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,guests,total_nights_stayed
0,0,Renaissance Hotel,0,342.0,2018,7,1,2,0.0,0,...,3,No Deposit,0.0,0,Transient,0.0,0,0,2,0
1,1,Renaissance Hotel,0,373.0,2018,7,1,2,0.0,0,...,4,No Deposit,0.0,0,Transient,0.0,0,0,2,0
2,2,Renaissance Hotel,0,7.0,2018,7,1,1,0.0,0,...,0,No Deposit,0.0,0,Transient,75.0,0,0,1,1
3,3,Renaissance Hotel,0,13.0,2018,7,1,1,0.0,0,...,0,No Deposit,304.0,0,Transient,75.0,0,0,1,1
4,4,Renaissance Hotel,0,14.0,2018,7,1,2,0.0,0,...,0,No Deposit,240.0,0,Transient,98.0,0,1,2,2

In [ ]:
customer_types = df['customer_type'].unique()
print(customer_types)

['Transient' 'Contract' 'Transient-Party' 'Group']

In [ ]:
df = df[(df['customer_type'] == 'Transient') | (df['customer_type'] == 'Contract') | (df['customer_type'] == 'Transient-Party') | (df['customer_type'] == 'Group')]
df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,adults,children,babies,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,guests,total_nights_stayed
0,0,Renaissance Hotel,0,342.0,2018,7,1,2,0.0,0,...,3,No Deposit,0.0,0,Transient,0.0,0,0,2,0
1,1,Renaissance Hotel,0,373.0,2018,7,1,2,0.0,0,...,4,No Deposit,0.0,0,Transient,0.0,0,0,2,0
2,2,Renaissance Hotel,0,7.0,2018,7,1,1,0.0,0,...,0,No Deposit,0.0,0,Transient,75.0,0,0,1,1
3,3,Renaissance Hotel,0,13.0,2018,7,1,1,0.0,0,...,0,No Deposit,304.0,0,Transient,75.0,0,0,1,1
4,4,Renaissance Hotel,0,14.0,2018,7,1,2,0.0,0,...,0,No Deposit,240.0,0,Transient,98.0,0,1,2,2

In [ ]:
distribution_channels = df['distribution_channel'].unique()
print(distribution_channels)

['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']

In [ ]:
df = df[(df['distribution_channel'] == 'Corporate') | (df['distribution_channel'] == 'Direct') | (df['distribution_channel'] == 'TA/TO') | (df['distribution_channel'] == 'GDS')]
df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,adults,children,babies,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,guests,total_nights_stayed
0,0,Renaissance Hotel,0,342.0,2018,7,1,2,0.0,0,...,3,No Deposit,0.0,0,Transient,0.0,0,0,2,0
1,1,Renaissance Hotel,0,373.0,2018,7,1,2,0.0,0,...,4,No Deposit,0.0,0,Transient,0.0,0,0,2,0
2,2,Renaissance Hotel,0,7.0,2018,7,1,1,0.0,0,...,0,No Deposit,0.0,0,Transient,75.0,0,0,1,1
3,3,Renaissance Hotel,0,13.0,2018,7,1,1,0.0,0,...,0,No Deposit,304.0,0,Transient,75.0,0,0,1,1
4,4,Renaissance Hotel,0,14.0,2018,7,1,2,0.0,0,...,0,No Deposit,240.0,0,Transient,98.0,0,1,2,2

In [ ]:
df['reserved_room_type'].fillna(df['assigned_room_type'], inplace=True)

df['assigned_room_type'].fillna(df['reserved_room_type'], inplace=True)

df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,adults,children,babies,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,guests,total_nights_stayed
0,0,Renaissance Hotel,0,342.0,2018,7,1,2,0.0,0,...,3,No Deposit,0.0,0,Transient,0.0,0,0,2,0
1,1,Renaissance Hotel,0,373.0,2018,7,1,2,0.0,0,...,4,No Deposit,0.0,0,Transient,0.0,0,0,2,0
2,2,Renaissance Hotel,0,7.0,2018,7,1,1,0.0,0,...,0,No Deposit,0.0,0,Transient,75.0,0,0,1,1
3,3,Renaissance Hotel,0,13.0,2018,7,1,1,0.0,0,...,0,No Deposit,304.0,0,Transient,75.0,0,0,1,1
4,4,Renaissance Hotel,0,14.0,2018,7,1,2,0.0,0,...,0,No Deposit,240.0,0,Transient,98.0,0,1,2,2

In [ ]:
numeric_columns = df.select_dtypes(include='number').columns
df[numeric_columns] = df[numeric_columns].fillna(0)

In [ ]:
df.to_csv('hotel_dataset_cleaned.csv', index=False)

# Visualization

In [ ]:
cleaned = pd.read_csv("/content/hotel_dataset_cleaned.csv")

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
spark = SparkSession.builder.appName('assignment').getOrCreate()
cleaned = spark.read.csv('/content/hotel_dataset_cleaned.csv', header=True, inferSchema=True)

In [ ]:
cleaned.printSchema()

root
 |-- Unnamed: 0: integer (nullable = true)
 |-- hotel: string (nullable = true)
 |-- is_canceled: integer (nullable = true)
 |-- lead_time: double (nullable = true)
 |-- arrival_date_year: integer (nullable = true)
 |-- arrival_date_month: integer (nullable = true)
 |-- arrival_date_day_of_month: integer (nullable = true)
 |-- adults: integer (nullable = true)
 |-- children: double (nullable = true)
 |-- babies: integer (nullable = true)
 |-- meal: string (nullable = true)
 |-- country: string (nullable = true)
 |-- distribution_channel: string (nullable = true)
 |-- is_repeated_guest: integer (nullable = true)
 |-- previous_cancellations: integer (nullable = true)
 |-- previous_bookings_not_canceled: integer (nullable = true)
 |-- reserved_room_type: string (nullable = true)
 |-- assigned_room_type: string (nullable = true)
 |-- booking_changes: integer (nullable = true)
 |-- deposit_type: string (nullable = true)
 |-- agent: double (nullable = true)
 |-- days_in_waiting_list: integer (nullable = true)
 |-- customer_type: string (nullable = true)
 |-- adr: double (nullable = true)
 |-- required_car_parking_spaces: integer (nullable = true)
 |-- total_of_special_requests: integer (nullable = true)
 |-- guests: integer (nullable = true)
 |-- total_nights_stayed: integer (nullable = true)

In [ ]:
cleaned.show(5)

+----------+-----------------+-----------+---------+-----------------+------------------+-------------------------+------+--------+------+----+-------+--------------------+-----------------+----------------------+------------------------------+------------------+------------------+---------------+------------+-----+--------------------+-------------+----+---------------------------+-------------------------+------+-------------------+
|Unnamed: 0|            hotel|is_canceled|lead_time|arrival_date_year|arrival_date_month|arrival_date_day_of_month|adults|children|babies|meal|country|distribution_channel|is_repeated_guest|previous_cancellations|previous_bookings_not_canceled|reserved_room_type|assigned_room_type|booking_changes|deposit_type|agent|days_in_waiting_list|customer_type| adr|required_car_parking_spaces|total_of_special_requests|guests|total_nights_stayed|
+----------+-----------------+-----------+---------+-----------------+------------------+-------------------------+------+--------+------+----+-------+--------------------+-----------------+----------------------+------------------------------+------------------+------------------+---------------+------------+-----+--------------------+-------------+----+---------------------------+-------------------------+------+-------------------+
|         0|Renaissance Hotel|          0|    342.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|              Direct|                0|                     0|                             0|                 C|                 C|              3|  No Deposit|  0.0|                   0|    Transient| 0.0|                          0|                        0|     2|                  0|
|         1|Renaissance Hotel|          0|    373.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|              Direct|                0|                     0|                             0|                 C|                 C|              4|  No Deposit|  0.0|                   0|    Transient| 0.0|                          0|                        0|     2|                  0|
|         2|Renaissance Hotel|          0|      7.0|             2018|                 7|                        1|     1|     0.0|     0|  BB|    GBR|              Direct|                0|                     0|                             0|                 A|                 C|              0|  No Deposit|  0.0|                   0|    Transient|75.0|                          0|                        0|     1|                  1|
|         3|Renaissance Hotel|          0|     13.0|             2018|                 7|                        1|     1|     0.0|     0|  BB|    GBR|           Corporate|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|304.0|                   0|    Transient|75.0|                          0|                        0|     1|                  1|
|         4|Renaissance Hotel|          0|     14.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    GBR|               TA/TO|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|240.0|                   0|    Transient|98.0|                          0|                        1|     2|                  2|
+----------+-----------------+-----------+---------+-----------------+------------------+-------------------------+------+--------+------+----+-------+--------------------+-----------------+----------------------+------------------------------+------------------+------------------+---------------+------------+-----+--------------------+-------------+----+---------------------------+-------------------------+------+-------------------+
only showing top 5 rows

In [ ]:
stages=[]

from pyspark.sql import SparkSession
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler,StringIndexer,OneHotEncoder
from pyspark.ml.classification import LogisticRegression
from sklearn.metrics import accuracy_score

categorical_columns = ['hotel','meal', 'country', 'distribution_channel', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'customer_type']

numerical_columns=['lead_time','arrival_date_year','arrival_date_month','arrival_date_day_of_month','adults','children','babies','is_repeated_guest','previous_cancellations','previous_bookings_not_canceled'
                   ,'booking_changes','agent','days_in_waiting_list','adr','required_car_parking_spaces','total_of_special_requests','guests','total_nights_stayed']
indexers = [StringIndexer(inputCol=column, outputCol=column+"_index", handleInvalid="keep") for column in categorical_columns]

indexed_df = cleaned
for indexer in indexers:
    indexed_df = indexer.fit(indexed_df).transform(indexed_df)

indexed_columns=["hotel_index","meal_index","country_index","distribution_channel_index","reserved_room_type_index","assigned_room_type_index","deposit_type_index","customer_type_index"]
output_encoded_columns=[
    "hotel_encoded","meal_encoded","country_encoded","distribution_channel_encoded","reserved_room_type_encoded","assigned_room_type_encoded","deposit_type_encoded","customer_type_encoded"
]

onehot_encoder = OneHotEncoder(inputCols=indexed_columns, outputCols=output_encoded_columns)
stages+=[onehot_encoder]


selected_columns = numerical_columns + [column+"_encoded" for column in categorical_columns]

# Create the VectorAssembler
assembler = VectorAssembler(inputCols=selected_columns, outputCol='features')

stages +=[assembler]



pipeline=Pipeline(stages=stages)
pipeline_model=pipeline.fit(indexed_df)
indexed_df=pipeline_model.transform(indexed_df)

In [ ]:
print(stages)

[OneHotEncoder_c6daff022bc5, VectorAssembler_c9ea816d2e03]

In [ ]:
indexed_df.show(10)

+----------+-----------------+-----------+---------+-----------------+------------------+-------------------------+------+--------+------+----+-------+--------------------+-----------------+----------------------+------------------------------+------------------+------------------+---------------+------------+-----+--------------------+-------------+-----+---------------------------+-------------------------+------+-------------------+-----------+----------+-------------+--------------------------+------------------------+------------------------+------------------+-------------------+-------------+-------------+---------------+----------------------------+--------------------------+--------------------------+--------------------+---------------------+--------------------+
|Unnamed: 0|            hotel|is_canceled|lead_time|arrival_date_year|arrival_date_month|arrival_date_day_of_month|adults|children|babies|meal|country|distribution_channel|is_repeated_guest|previous_cancellations|previous_bookings_not_canceled|reserved_room_type|assigned_room_type|booking_changes|deposit_type|agent|days_in_waiting_list|customer_type|  adr|required_car_parking_spaces|total_of_special_requests|guests|total_nights_stayed|hotel_index|meal_index|country_index|distribution_channel_index|reserved_room_type_index|assigned_room_type_index|deposit_type_index|customer_type_index|hotel_encoded| meal_encoded|country_encoded|distribution_channel_encoded|reserved_room_type_encoded|assigned_room_type_encoded|deposit_type_encoded|customer_type_encoded|            features|
+----------+-----------------+-----------+---------+-----------------+------------------+-------------------------+------+--------+------+----+-------+--------------------+-----------------+----------------------+------------------------------+------------------+------------------+---------------+------------+-----+--------------------+-------------+-----+---------------------------+-------------------------+------+-------------------+-----------+----------+-------------+--------------------------+------------------------+------------------------+------------------+-------------------+-------------+-------------+---------------+----------------------------+--------------------------+--------------------------+--------------------+---------------------+--------------------+
|         0|Renaissance Hotel|          0|    342.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|              Direct|                0|                     0|                             0|                 C|                 C|              3|  No Deposit|  0.0|                   0|    Transient|  0.0|                          0|                        0|     2|                  0|        1.0|       0.0|          0.0|                       1.0|                     6.0|                     5.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[0],[1.0])|               (4,[1],[1.0])|            (10,[6],[1.0])|            (12,[5],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         1|Renaissance Hotel|          0|    373.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|              Direct|                0|                     0|                             0|                 C|                 C|              4|  No Deposit|  0.0|                   0|    Transient|  0.0|                          0|                        0|     2|                  0|        1.0|       0.0|          0.0|                       1.0|                     6.0|                     5.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[0],[1.0])|               (4,[1],[1.0])|            (10,[6],[1.0])|            (12,[5],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         2|Renaissance Hotel|          0|      7.0|             2018|                 7|                        1|     1|     0.0|     0|  BB|    GBR|              Direct|                0|                     0|                             0|                 A|                 C|              0|  No Deposit|  0.0|                   0|    Transient| 75.0|                          0|                        0|     1|                  1|        1.0|       0.0|          1.0|                       1.0|                     0.0|                     5.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[1],[1.0])|               (4,[1],[1.0])|            (10,[0],[1.0])|            (12,[5],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         3|Renaissance Hotel|          0|     13.0|             2018|                 7|                        1|     1|     0.0|     0|  BB|    GBR|           Corporate|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|304.0|                   0|    Transient| 75.0|                          0|                        0|     1|                  1|        1.0|       0.0|          1.0|                       2.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[1],[1.0])|               (4,[2],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         4|Renaissance Hotel|          0|     14.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    GBR|               TA/TO|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|240.0|                   0|    Transient| 98.0|                          0|                        1|     2|                  2|        1.0|       0.0|          1.0|                       0.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[1],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         5|Renaissance Hotel|          0|     14.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    GBR|               TA/TO|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|240.0|                   0|    Transient| 98.0|                          0|                        1|     2|                  2|        1.0|       0.0|          1.0|                       0.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[1],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         6|Renaissance Hotel|          0|      0.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|              Direct|                0|                     0|                             0|                 C|                 C|              0|  No Deposit|  0.0|                   0|    Transient|107.0|                          0|                        0|     2|                  2|        1.0|       0.0|          0.0|                       1.0|                     6.0|                     5.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[0],[1.0])|               (4,[1],[1.0])|            (10,[6],[1.0])|            (12,[5],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[1,2,3,4,13,...|
|         7|Renaissance Hotel|          0|      9.0|             2018|                 7|                        1|     2|     0.0|     0|  FB|    PRT|              Direct|                0|                     0|                             0|                 C|                 C|              0|  No Deposit|303.0|                   0|    Transient|103.0|                          0|                        1|     2|                  2|        1.0|       3.0|          0.0|                       1.0|                     6.0|                     5.0|               0.0|                0.0|(2,[1],[1.0])|(4,[3],[1.0])|(178,[0],[1.0])|               (4,[1],[1.0])|            (10,[6],[1.0])|            (12,[5],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         8|Renaissance Hotel|          1|     85.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|               TA/TO|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|240.0|                   0|    Transient| 82.0|                          0|                        1|     2|                  3|        1.0|       0.0|          0.0|                       0.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[0],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         9|Renaissance Hotel|          1|     75.0|             2018|                 7|                        1|     2|     0.0|     0|  HB|    PRT|               TA/TO|                0|                     0|                             0|                 D|                 D|              0|  No Deposit| 15.0|                   0|    Transient|105.0|                          0|                        0|     2|                  3|        1.0|       1.0|          0.0|                       0.0|                     1.0|                     1.0|               0.0|                0.0|(2,[1],[1.0])|(4,[1],[1.0])|(178,[0],[1.0])|               (4,[0],[1.0])|            (10,[1],[1.0])|            (12,[1],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
+----------+-----------------+-----------+---------+-----------------+------------------+-------------------------+------+--------+------+----+-------+--------------------+-----------------+----------------------+------------------------------+------------------+------------------+---------------+------------+-----+--------------------+-------------+-----+---------------------------+-------------------------+------+-------------------+-----------+----------+-------------+--------------------------+------------------------+------------------------+------------------+-------------------+-------------+-------------+---------------+----------------------------+--------------------------+--------------------------+--------------------+---------------------+--------------------+
only showing top 10 rows

In [ ]:
train, test = indexed_df.randomSplit([0.8, 0.2], seed = 2018)

In [ ]:
train.show()

+----------+-----------------+-----------+---------+-----------------+------------------+-------------------------+------+--------+------+----+-------+--------------------+-----------------+----------------------+------------------------------+------------------+------------------+---------------+------------+-----+--------------------+-------------+-----+---------------------------+-------------------------+------+-------------------+-----------+----------+-------------+--------------------------+------------------------+------------------------+------------------+-------------------+-------------+-------------+---------------+----------------------------+--------------------------+--------------------------+--------------------+---------------------+--------------------+
|Unnamed: 0|            hotel|is_canceled|lead_time|arrival_date_year|arrival_date_month|arrival_date_day_of_month|adults|children|babies|meal|country|distribution_channel|is_repeated_guest|previous_cancellations|previous_bookings_not_canceled|reserved_room_type|assigned_room_type|booking_changes|deposit_type|agent|days_in_waiting_list|customer_type|  adr|required_car_parking_spaces|total_of_special_requests|guests|total_nights_stayed|hotel_index|meal_index|country_index|distribution_channel_index|reserved_room_type_index|assigned_room_type_index|deposit_type_index|customer_type_index|hotel_encoded| meal_encoded|country_encoded|distribution_channel_encoded|reserved_room_type_encoded|assigned_room_type_encoded|deposit_type_encoded|customer_type_encoded|            features|
+----------+-----------------+-----------+---------+-----------------+------------------+-------------------------+------+--------+------+----+-------+--------------------+-----------------+----------------------+------------------------------+------------------+------------------+---------------+------------+-----+--------------------+-------------+-----+---------------------------+-------------------------+------+-------------------+-----------+----------+-------------+--------------------------+------------------------+------------------------+------------------+-------------------+-------------+-------------+---------------+----------------------------+--------------------------+--------------------------+--------------------+---------------------+--------------------+
|         1|Renaissance Hotel|          0|    373.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|              Direct|                0|                     0|                             0|                 C|                 C|              4|  No Deposit|  0.0|                   0|    Transient|  0.0|                          0|                        0|     2|                  0|        1.0|       0.0|          0.0|                       1.0|                     6.0|                     5.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[0],[1.0])|               (4,[1],[1.0])|            (10,[6],[1.0])|            (12,[5],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         2|Renaissance Hotel|          0|      7.0|             2018|                 7|                        1|     1|     0.0|     0|  BB|    GBR|              Direct|                0|                     0|                             0|                 A|                 C|              0|  No Deposit|  0.0|                   0|    Transient| 75.0|                          0|                        0|     1|                  1|        1.0|       0.0|          1.0|                       1.0|                     0.0|                     5.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[1],[1.0])|               (4,[1],[1.0])|            (10,[0],[1.0])|            (12,[5],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         3|Renaissance Hotel|          0|     13.0|             2018|                 7|                        1|     1|     0.0|     0|  BB|    GBR|           Corporate|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|304.0|                   0|    Transient| 75.0|                          0|                        0|     1|                  1|        1.0|       0.0|          1.0|                       2.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[1],[1.0])|               (4,[2],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         4|Renaissance Hotel|          0|     14.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    GBR|               TA/TO|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|240.0|                   0|    Transient| 98.0|                          0|                        1|     2|                  2|        1.0|       0.0|          1.0|                       0.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[1],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         5|Renaissance Hotel|          0|     14.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    GBR|               TA/TO|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|240.0|                   0|    Transient| 98.0|                          0|                        1|     2|                  2|        1.0|       0.0|          1.0|                       0.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[1],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         6|Renaissance Hotel|          0|      0.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|              Direct|                0|                     0|                             0|                 C|                 C|              0|  No Deposit|  0.0|                   0|    Transient|107.0|                          0|                        0|     2|                  2|        1.0|       0.0|          0.0|                       1.0|                     6.0|                     5.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[0],[1.0])|               (4,[1],[1.0])|            (10,[6],[1.0])|            (12,[5],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[1,2,3,4,13,...|
|         7|Renaissance Hotel|          0|      9.0|             2018|                 7|                        1|     2|     0.0|     0|  FB|    PRT|              Direct|                0|                     0|                             0|                 C|                 C|              0|  No Deposit|303.0|                   0|    Transient|103.0|                          0|                        1|     2|                  2|        1.0|       3.0|          0.0|                       1.0|                     6.0|                     5.0|               0.0|                0.0|(2,[1],[1.0])|(4,[3],[1.0])|(178,[0],[1.0])|               (4,[1],[1.0])|            (10,[6],[1.0])|            (12,[5],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|         9|Renaissance Hotel|          1|     75.0|             2018|                 7|                        1|     2|     0.0|     0|  HB|    PRT|               TA/TO|                0|                     0|                             0|                 D|                 D|              0|  No Deposit| 15.0|                   0|    Transient|105.0|                          0|                        0|     2|                  3|        1.0|       1.0|          0.0|                       0.0|                     1.0|                     1.0|               0.0|                0.0|(2,[1],[1.0])|(4,[1],[1.0])|(178,[0],[1.0])|               (4,[0],[1.0])|            (10,[1],[1.0])|            (12,[1],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|        10|Renaissance Hotel|          1|     23.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|               TA/TO|                0|                     0|                             0|                 E|                 E|              0|  No Deposit|240.0|                   0|    Transient|123.0|                          0|                        0|     2|                  4|        1.0|       0.0|          0.0|                       0.0|                     2.0|                     2.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[0],[1.0])|               (4,[0],[1.0])|            (10,[2],[1.0])|            (12,[2],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|        13|Renaissance Hotel|          0|     18.0|             2018|                 7|                        1|     2|     1.0|     0|  HB|    ESP|               TA/TO|                0|                     0|                             0|                 G|                 G|              1|  No Deposit|241.0|                   0|    Transient|154.0|                          0|                        1|     3|                  4|        1.0|       1.0|          3.0|                       0.0|                     4.0|                     4.0|               0.0|                0.0|(2,[1],[1.0])|(4,[1],[1.0])|(178,[3],[1.0])|               (4,[0],[1.0])|            (10,[4],[1.0])|            (12,[4],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,5...|
|        14|Renaissance Hotel|          0|     37.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|               TA/TO|                0|                     0|                             0|                 E|                 E|              0|  No Deposit|241.0|                   0|    Transient| 94.0|                          0|                        0|     2|                  4|        1.0|       0.0|          0.0|                       0.0|                     2.0|                     2.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[0],[1.0])|               (4,[0],[1.0])|            (10,[2],[1.0])|            (12,[2],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|        15|Renaissance Hotel|          0|     68.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    IRL|               TA/TO|                0|                     0|                             0|                 D|                 E|              0|  No Deposit|240.0|                   0|    Transient| 97.0|                          0|                        3|     2|                  4|        1.0|       0.0|          6.0|                       0.0|                     1.0|                     2.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[6],[1.0])|               (4,[0],[1.0])|            (10,[1],[1.0])|            (12,[2],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|        17|Renaissance Hotel|          0|     12.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    IRL|               TA/TO|                0|                     0|                             0|                 A|                 E|              0|  No Deposit|240.0|                   0|    Transient| 88.0|                          0|                        0|     2|                  1|        1.0|       0.0|          6.0|                       0.0|                     0.0|                     2.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[6],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[2],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|        18|Renaissance Hotel|          0|      0.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    FRA|           Corporate|                0|                     0|                             0|                 A|                 G|              0|  No Deposit|  0.0|                   0|    Transient|107.0|                          0|                        0|     2|                  1|        1.0|       0.0|          2.0|                       2.0|                     0.0|                     4.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[2],[1.0])|               (4,[2],[1.0])|            (10,[0],[1.0])|            (12,[4],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[1,2,3,4,13,...|
|        20|Renaissance Hotel|          0|     37.0|             2018|                 7|                        1|     1|     0.0|     0|  BB|    GBR|               TA/TO|                0|                     0|                             0|                 F|                 F|              0|  No Deposit|241.0|                   0|    Transient| 97.0|                          0|                        1|     1|                  5|        1.0|       0.0|          1.0|                       0.0|                     3.0|                     3.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[1],[1.0])|               (4,[0],[1.0])|            (10,[3],[1.0])|            (12,[3],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|        21|Renaissance Hotel|          0|     72.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|              Direct|                0|                     0|                             0|                 A|                 A|              1|  No Deposit|250.0|                   0|    Transient| 84.0|                          0|                        1|     2|                  6|        1.0|       0.0|          0.0|                       1.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[0],[1.0])|               (4,[1],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|        22|Renaissance Hotel|          0|     72.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|              Direct|                0|                     0|                             0|                 A|                 A|              1|  No Deposit|250.0|                   0|    Transient| 84.0|                          0|                        1|     2|                  6|        1.0|       0.0|          0.0|                       1.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[0],[1.0])|               (4,[1],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|        24|Renaissance Hotel|          0|    127.0|             2018|                 7|                        1|     2|     0.0|     0|  HB|    GBR|               TA/TO|                0|                     0|                             0|                 D|                 I|              0|  No Deposit|115.0|                   0|     Contract| 94.0|                          0|                        1|     2|                  7|        1.0|       1.0|          1.0|                       0.0|                     1.0|                     8.0|               0.0|                2.0|(2,[1],[1.0])|(4,[1],[1.0])|(178,[1],[1.0])|               (4,[0],[1.0])|            (10,[1],[1.0])|            (12,[8],[1.0])|       (3,[0],[1.0])|        (4,[2],[1.0])|(235,[0,1,2,3,4,1...|
|        25|Renaissance Hotel|          0|     78.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|               TA/TO|                0|                     0|                             0|                 D|                 D|              0|  No Deposit|  5.0|                   0|    Transient| 63.0|                          1|                        0|     2|                  7|        1.0|       0.0|          0.0|                       0.0|                     1.0|                     1.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[0],[1.0])|               (4,[0],[1.0])|            (10,[1],[1.0])|            (12,[1],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|
|        26|Renaissance Hotel|          0|     48.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    IRL|               TA/TO|                0|                     0|                             0|                 D|                 D|              0|  No Deposit|  8.0|                   0|     Contract| 79.0|                          0|                        0|     2|                  7|        1.0|       0.0|          6.0|                       0.0|                     1.0|                     1.0|               0.0|                2.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[6],[1.0])|               (4,[0],[1.0])|            (10,[1],[1.0])|            (12,[1],[1.0])|       (3,[0],[1.0])|        (4,[2],[1.0])|(235,[0,1,2,3,4,1...|
+----------+-----------------+-----------+---------+-----------------+------------------+-------------------------+------+--------+------+----+-------+--------------------+-----------------+----------------------+------------------------------+------------------+------------------+---------------+------------+-----+--------------------+-------------+-----+---------------------------+-------------------------+------+-------------------+-----------+----------+-------------+--------------------------+------------------------+------------------------+------------------+-------------------+-------------+-------------+---------------+----------------------------+--------------------------+--------------------------+--------------------+---------------------+--------------------+
only showing top 20 rows

RANDOM FOREST MODEL

In [ ]:
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.classification import LogisticRegression, RandomForestClassifier, GBTClassifier
from pyspark.ml.evaluation import BinaryClassificationEvaluator

rf = RandomForestClassifier(featuresCol='features', labelCol='is_canceled', numTrees=10)
rfModel = rf.fit(train)
predictions = rfModel.transform(test)



true_labels=predictions.select('is_canceled')
lr_predictions=predictions.select('prediction')

In [ ]:
predictions.show()

+----------+-----------------+-----------+---------+-----------------+------------------+-------------------------+------+--------+------+----+-------+--------------------+-----------------+----------------------+------------------------------+------------------+------------------+---------------+------------+-----+--------------------+-------------+-----+---------------------------+-------------------------+------+-------------------+-----------+----------+-------------+--------------------------+------------------------+------------------------+------------------+-------------------+-------------+-------------+----------------+----------------------------+--------------------------+--------------------------+--------------------+---------------------+--------------------+--------------------+--------------------+----------+
|Unnamed: 0|            hotel|is_canceled|lead_time|arrival_date_year|arrival_date_month|arrival_date_day_of_month|adults|children|babies|meal|country|distribution_channel|is_repeated_guest|previous_cancellations|previous_bookings_not_canceled|reserved_room_type|assigned_room_type|booking_changes|deposit_type|agent|days_in_waiting_list|customer_type|  adr|required_car_parking_spaces|total_of_special_requests|guests|total_nights_stayed|hotel_index|meal_index|country_index|distribution_channel_index|reserved_room_type_index|assigned_room_type_index|deposit_type_index|customer_type_index|hotel_encoded| meal_encoded| country_encoded|distribution_channel_encoded|reserved_room_type_encoded|assigned_room_type_encoded|deposit_type_encoded|customer_type_encoded|            features|       rawPrediction|         probability|prediction|
+----------+-----------------+-----------+---------+-----------------+------------------+-------------------------+------+--------+------+----+-------+--------------------+-----------------+----------------------+------------------------------+------------------+------------------+---------------+------------+-----+--------------------+-------------+-----+---------------------------+-------------------------+------+-------------------+-----------+----------+-------------+--------------------------+------------------------+------------------------+------------------+-------------------+-------------+-------------+----------------+----------------------------+--------------------------+--------------------------+--------------------+---------------------+--------------------+--------------------+--------------------+----------+
|         0|Renaissance Hotel|          0|    342.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|              Direct|                0|                     0|                             0|                 C|                 C|              3|  No Deposit|  0.0|                   0|    Transient|  0.0|                          0|                        0|     2|                  0|        1.0|       0.0|          0.0|                       1.0|                     6.0|                     5.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[0],[1.0])|               (4,[1],[1.0])|            (10,[6],[1.0])|            (12,[5],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[6.60603609612862...|[0.66060360961286...|       0.0|
|         8|Renaissance Hotel|          1|     85.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|               TA/TO|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|240.0|                   0|    Transient| 82.0|                          0|                        1|     2|                  3|        1.0|       0.0|          0.0|                       0.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[0],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[5.90399878207515...|[0.59039987820751...|       0.0|
|        11|Renaissance Hotel|          0|     35.0|             2018|                 7|                        1|     2|     0.0|     0|  HB|    PRT|               TA/TO|                0|                     0|                             0|                 D|                 D|              0|  No Deposit|240.0|                   0|    Transient|145.0|                          0|                        0|     2|                  4|        1.0|       1.0|          0.0|                       0.0|                     1.0|                     1.0|               0.0|                0.0|(2,[1],[1.0])|(4,[1],[1.0])| (178,[0],[1.0])|               (4,[0],[1.0])|            (10,[1],[1.0])|            (12,[1],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[5.14936877010493...|[0.51493687701049...|       0.0|
|        12|Renaissance Hotel|          0|     68.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    USA|               TA/TO|                0|                     0|                             0|                 D|                 E|              0|  No Deposit|240.0|                   0|    Transient| 97.0|                          0|                        3|     2|                  4|        1.0|       0.0|         10.0|                       0.0|                     1.0|                     2.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[10],[1.0])|               (4,[0],[1.0])|            (10,[1],[1.0])|            (12,[2],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[7.01640191654114...|[0.70164019165411...|       0.0|
|        16|Renaissance Hotel|          0|     37.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|               TA/TO|                0|                     0|                             0|                 E|                 E|              0|  No Deposit|  8.0|                   0|     Contract| 97.0|                          0|                        0|     2|                  4|        1.0|       0.0|          0.0|                       0.0|                     2.0|                     2.0|               0.0|                2.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[0],[1.0])|               (4,[0],[1.0])|            (10,[2],[1.0])|            (12,[2],[1.0])|       (3,[0],[1.0])|        (4,[2],[1.0])|(235,[0,1,2,3,4,1...|[5.14674507542727...|[0.51467450754272...|       0.0|
|        19|Renaissance Hotel|          0|      7.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    GBR|              Direct|                0|                     0|                             0|                 G|                 G|              0|  No Deposit|250.0|                   0|    Transient|153.0|                          0|                        1|     2|                  4|        1.0|       0.0|          1.0|                       1.0|                     4.0|                     4.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[1],[1.0])|               (4,[1],[1.0])|            (10,[4],[1.0])|            (12,[4],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[7.81537666877973...|[0.78153766687797...|       0.0|
|        23|Renaissance Hotel|          0|     72.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|              Direct|                0|                     0|                             0|                 D|                 D|              1|  No Deposit|250.0|                   0|    Transient| 99.0|                          0|                        1|     2|                  6|        1.0|       0.0|          0.0|                       1.0|                     1.0|                     1.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[0],[1.0])|               (4,[1],[1.0])|            (10,[1],[1.0])|            (12,[1],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[6.43736484804523...|[0.64373648480452...|       0.0|
|        30|Renaissance Hotel|          0|    118.0|             2018|                 7|                        1|     1|     0.0|     0|  BB|Unknown|              Direct|                0|                     0|                             0|                 A|                 A|              2|  No Deposit|  0.0|                   0|    Transient| 62.0|                          0|                        2|     1|                 14|        1.0|       0.0|         21.0|                       1.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])|(178,[21],[1.0])|               (4,[1],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[7.45556553953410...|[0.74555655395341...|       0.0|
|        32|Renaissance Hotel|          1|     96.0|             2018|                 7|                        1|     2|     0.0|     0|  BB|    PRT|              Direct|                0|                     0|                             0|                 E|                 E|              0|  No Deposit|  0.0|                   0|    Transient|108.0|                          0|                        2|     2|                 10|        1.0|       0.0|          0.0|                       1.0|                     2.0|                     2.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[0],[1.0])|               (4,[1],[1.0])|            (10,[2],[1.0])|            (12,[2],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[5.82452458460616...|[0.58245245846061...|       0.0|
|        33|Renaissance Hotel|          0|     69.0|             2018|                 7|                        2|     2|     0.0|     0|  BB|    IRL|               TA/TO|                0|                     0|                             0|                 A|                 C|              0|  No Deposit|175.0|                   0|    Transient| 65.0|                          0|                        0|     2|                  6|        1.0|       0.0|          6.0|                       0.0|                     0.0|                     5.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[6],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[5],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[6.57955814594318...|[0.65795581459431...|       0.0|
|        35|Renaissance Hotel|          1|     40.0|             2018|                 7|                        2|     3|     0.0|     0|  BB|    PRT|               TA/TO|                0|                     0|                             0|                 D|                 D|              0|  No Deposit|241.0|                   0|    Transient|108.0|                          0|                        1|     3|                  4|        1.0|       0.0|          0.0|                       0.0|                     1.0|                     1.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[0],[1.0])|               (4,[0],[1.0])|            (10,[1],[1.0])|            (12,[1],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[5.67932432135571...|[0.56793243213557...|       0.0|
|        39|Renaissance Hotel|          0|     70.0|             2018|                 7|                        2|     2|     0.0|     0|  HB|    ROU|              Direct|                0|                     0|                             0|                 E|                 E|              0|  No Deposit|250.0|                   0|    Transient|137.0|                          0|                        1|     2|                  5|        1.0|       1.0|         20.0|                       1.0|                     2.0|                     2.0|               0.0|                0.0|(2,[1],[1.0])|(4,[1],[1.0])|(178,[20],[1.0])|               (4,[1],[1.0])|            (10,[2],[1.0])|            (12,[2],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[7.16160217979159...|[0.71616021797915...|       0.0|
|        43|Renaissance Hotel|          0|     70.0|             2018|                 7|                        2|     2|     0.0|     0|  HB|    ROU|              Direct|                0|                     0|                             0|                 E|                 E|              0|  No Deposit|250.0|                   0|    Transient|137.0|                          0|                        1|     2|                  5|        1.0|       1.0|         20.0|                       1.0|                     2.0|                     2.0|               0.0|                0.0|(2,[1],[1.0])|(4,[1],[1.0])|(178,[20],[1.0])|               (4,[1],[1.0])|            (10,[2],[1.0])|            (12,[2],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[7.16160217979159...|[0.71616021797915...|       0.0|
|        61|Renaissance Hotel|          0|      5.0|             2018|                 7|                        2|     2|     0.0|     0|  BB|    IRL|               TA/TO|                0|                     0|                             0|                 E|                 E|              0|  No Deposit|240.0|                   0|    Transient|135.0|                          1|                        2|     2|                  2|        1.0|       0.0|          6.0|                       0.0|                     2.0|                     2.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[6],[1.0])|               (4,[0],[1.0])|            (10,[2],[1.0])|            (12,[2],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[7.69860160843007...|[0.76986016084300...|       0.0|
|        64|Renaissance Hotel|          1|      3.0|             2018|                 7|                        2|     2|     0.0|     0|  HB|    PRT|               TA/TO|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|240.0|                   0|    Transient|136.0|                          0|                        2|     2|                  3|        1.0|       1.0|          0.0|                       0.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[1],[1.0])| (178,[0],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[7.41386078979691...|[0.74138607897969...|       0.0|
|        68|Renaissance Hotel|          1|     71.0|             2018|                 7|                        3|     3|     0.0|     0|  BB|    PRT|               TA/TO|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|242.0|                   0|    Transient|110.0|                          0|                        2|     3|                  2|        1.0|       0.0|          0.0|                       0.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[0],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[5.90399878207515...|[0.59039987820751...|       0.0|
|        69|Renaissance Hotel|          1|     63.0|             2018|                 7|                        3|     2|     0.0|     0|  BB|    PRT|               TA/TO|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|240.0|                   0|    Transient| 82.0|                          0|                        2|     2|                  2|        1.0|       0.0|          0.0|                       0.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[0],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[5.90399878207515...|[0.59039987820751...|       0.0|
|        74|Renaissance Hotel|          1|     51.0|             2018|                 7|                        3|     3|     0.0|     0|  BB|    PRT|               TA/TO|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|242.0|                   0|    Transient|110.0|                          0|                        0|     3|                  2|        1.0|       0.0|          0.0|                       0.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[0],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[5.37667732783787...|[0.53766773278378...|       0.0|
|        75|Renaissance Hotel|          0|      3.0|             2018|                 7|                        3|     2|     0.0|     0|  BB|    ESP|               TA/TO|                0|                     0|                             0|                 A|                 A|              0|  No Deposit|240.0|                   0|    Transient| 90.0|                          1|                        0|     2|                  3|        1.0|       0.0|          3.0|                       0.0|                     0.0|                     0.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[3],[1.0])|               (4,[0],[1.0])|            (10,[0],[1.0])|            (12,[0],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[7.65263274856735...|[0.76526327485673...|       0.0|
|        76|Renaissance Hotel|          1|     48.0|             2018|                 7|                        3|     2|     0.0|     0|  BB|    PRT|               TA/TO|                0|                     0|                             0|                 E|                 E|              0|  No Deposit|240.0|                   0|    Transient|123.0|                          0|                        0|     2|                  3|        1.0|       0.0|          0.0|                       0.0|                     2.0|                     2.0|               0.0|                0.0|(2,[1],[1.0])|(4,[0],[1.0])| (178,[0],[1.0])|               (4,[0],[1.0])|            (10,[2],[1.0])|            (12,[2],[1.0])|       (3,[0],[1.0])|        (4,[0],[1.0])|(235,[0,1,2,3,4,1...|[5.14936877010493...|[0.51493687701049...|       0.0|

In [ ]:

accuracy = accuracy_score(true_labels.toPandas(), lr_predictions.toPandas())
print("Random Forest Accuracy =",accuracy*100,"%")

Random Forest Accuracy = 77.4965369600806 %

In [ ]:

from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator = MulticlassClassificationEvaluator(labelCol='is_canceled', metricName='accuracy')
accuracy = evaluator.evaluate(predictions)
print("Random Forest- Accuracy: {:.2%}".format(accuracy))

Random Forest- Accuracy: 77.50%

Gradiant Boost classifier

In [ ]:
gbt = GBTClassifier(featuresCol='features', labelCol='is_canceled', maxIter=10) 

gbModel = gbt.fit(train)
predictions_gbt = gbModel.transform(test)

true_labels_GBT =predictions_gbt.select('is_canceled')
lr_predictions_GBT =predictions_gbt.select('prediction')

In [ ]:
accuracy = accuracy_score(true_labels_GBT.toPandas(), lr_predictions_GBT.toPandas())
print("Random Forest Accuracy =",accuracy*100,"%")

Random Forest Accuracy = 83.62926583553708 %

logistic regression

In [ ]:

lr = LogisticRegression(featuresCol='features', labelCol='is_canceled', maxIter=10)

lrModel_logistic_regression = lr.fit(train)
predictions_logistic_regression = lrModel_logistic_regression.transform(test)

true_labels_logistic_regression=predictions_logistic_regression.select('is_canceled')
lr_predictions_logistic_regression =predictions_logistic_regression.select('prediction')

In [ ]:
accuracy = accuracy_score(true_labels_logistic_regression.toPandas(), lr_predictions_logistic_regression.toPandas())
print("Logistic Regression Accuracy =",accuracy*100,"%")

Logistic Regression Accuracy = 80.78327666540737 %

https://medium.com/@nutanbhogendrasharma/role-of-onehotencoder-and-pipelines-in-pyspark-ml-feature-part-2-3275767e74f0

https://towardsdatascience.com/machine-learning-with-pyspark-and-mllib-solving-a-binary-classification-problem-96396065d2aa

https://sparkbyexamples.com/spark/spark-sql-dataframe-join/

https://www.geeksforgeeks.org/find-minimum-maximum-and-average-value-of-pyspark-dataframe-column/